*{
   background-color: gray;
    font-family: Serif;
    flex-wrap: wrap;
    align-content: center;
}
button{
    background-color: white;
}
h1:hover{
    color: red;

}
p{
    font-family:sans-serif;
}
#klokkefin{
    font-size: 6rem;
    font-family: "Montserrat SemiBold";
    align-content: center;
}

#klokkefin:hover{
    color: white;
}
#tellNed{
    font-size: 6rem;
    font-family: "Montserrat SemiBold";
    align-content: center;
}